
SinkIn.vcxproj
SinkIn.vcxproj.filters
x64/Debug/main.obj
x64/Debug/Room.obj
x64/Debug/SinkIn.Build.CppClean.log
x64/Debug/SinkIn.exe
x64/Debug/SinkIn.ilk
x64/Debug/SinkIn.log
x64/Debug/SinkIn.pdb
x64/Debug/SinkIn.tlog/CL.read.1.tlog
x64/Debug/SinkIn.tlog/CL.write.1.tlog
x64/Debug/SinkIn.tlog/link.read.1.tlog
x64/Debug/SinkIn.tlog/link.write.1.tlog
x64/Debug/vc143.idb
x64/Debug/vc143.pdb
